@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

:root {
  --product-gradient: #000000;
  --background: #000000;
  --foreground: #ededed;
  --font-inter: Inter, sans-serif;
}

body {
  background: var(--product-gradient);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Text Selection */
::selection {
  background: rgba(255, 255, 255, 0.1); /* Light gray on dark */
  color: #ffffff;
}
